# Pandas Series

In [33]:
import numpy as np
import pandas as pd

In [34]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':30}

In [35]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [36]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [37]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [38]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [39]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [40]:
salesQ1 = pd.Series(data=[250,450,200,150], index=['USA','China','India','Brazil'])

In [41]:
salesQ1

USA       250
China     450
India     200
Brazil    150
dtype: int64

In [42]:
salesQ2 = pd.Series(data=[260,500,210,100], index=['USA','China','India','Japan'])

In [43]:
salesQ2

USA      260
China    500
India    210
Japan    100
dtype: int64

In [44]:
salesQ2['China']

500

In [45]:
salesQ2[1]

500

In [46]:
salesQ1 + salesQ2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

# Pandas DataFrames

In [47]:
# a df is simple multiple pandas series that share the same index

In [48]:
import pandas as pd
import numpy as np
from numpy.random import randint

In [49]:
columns= ['W', 'X', 'Y', 'Z'] # four columns
index= ['A', 'B', 'C', 'D', 'E'] # five rows

In [50]:
np.random.seed(42)
data = randint(-100,100,(5,4))

In [51]:
data

array([[  2,  79,  -8, -86],
       [  6, -29,  88, -80],
       [  2,  21, -26, -13],
       [ 16,  -1,   3,  51],
       [ 30,  49, -48, -99]])

In [52]:
df = pd.DataFrame(data,index,columns)
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [53]:
# Selection and Indexing

In [54]:
df['W'] #single column

A     2
B     6
C     2
D    16
E    30
Name: W, dtype: int64

In [55]:
# Pass a list of column names
df[['W','Z']]

    W   Z
A   2 -86
B   6 -80
C   2 -13
D  16  51
E  30 -99

In [56]:
type(df['W']) #df columns are just series

pandas.core.series.Series

In [57]:
df['new'] = df['W'] + df['Y']
df

    W   X   Y   Z  new
A   2  79  -8 -86   -6
B   6 -29  88 -80   94
C   2  21 -26 -13  -24
D  16  -1   3  51   19
E  30  49 -48 -99  -18

In [58]:
# axis=1 because its a column
df.drop('new',axis=1)

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [59]:
# Not inplace unless reassigned!
df

    W   X   Y   Z  new
A   2  79  -8 -86   -6
B   6 -29  88 -80   94
C   2  21 -26 -13  -24
D  16  -1   3  51   19
E  30  49 -48 -99  -18

In [60]:
df = df.drop('new',axis=1)
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [61]:
# .loc[] for selection by rows
df.loc['A']

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int64

In [62]:
df.loc[['A','C']]

   W   X   Y   Z
A  2  79  -8 -86
C  2  21 -26 -13

In [63]:
# Select single row by integer index location
df.iloc[0]

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int64

In [64]:
# Select multiple rows by integer index location
df.iloc[0:2]

   W   X   Y   Z
A  2  79  -8 -86
B  6 -29  88 -80

In [65]:
df.drop('C',axis=0)
# Remove row by name
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [66]:
# Selecting subset of rows and columns at same time
df.loc[['A','C'],['W','Y']]

   W   Y
A  2  -8
C  2 -26

In [67]:
# conditional selection
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [68]:
df>0

      W      X      Y      Z
A  True   True  False  False
B  True  False   True  False
C  True   True  False  False
D  True  False   True   True
E  True   True  False  False

In [69]:
df[df>0]

    W     X     Y     Z
A   2  79.0   NaN   NaN
B   6   NaN  88.0   NaN
C   2  21.0   NaN   NaN
D  16   NaN   3.0  51.0
E  30  49.0   NaN   NaN

In [70]:
df['X']>0

A     True
B    False
C     True
D    False
E     True
Name: X, dtype: bool

In [71]:
df[df['X']>0]

    W   X   Y   Z
A   2  79  -8 -86
C   2  21 -26 -13
E  30  49 -48 -99

In [72]:
df[df['X']>0]['Y']

A    -8
C   -26
E   -48
Name: Y, dtype: int64

In [73]:
df[df['X']>0][['Y','Z']]

    Y   Z
A  -8 -86
C -26 -13
E -48 -99

In [74]:
# For two conditions you can use | and & with parenthesis:
df[(df['W']>0) & (df['Y'] > 1)]

    W   X   Y   Z
B   6 -29  88 -80
D  16  -1   3  51

In [75]:
# Reset to default 0,1...n index
df.reset_index()

  index   W   X   Y   Z
0     A   2  79  -8 -86
1     B   6 -29  88 -80
2     C   2  21 -26 -13
3     D  16  -1   3  51
4     E  30  49 -48 -99

In [76]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [78]:
newind = 'CA NY WY OR CO'.split()
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [80]:
df['States'] = newind
df

    W   X   Y   Z States
A   2  79  -8 -86     CA
B   6 -29  88 -80     NY
C   2  21 -26 -13     WY
D  16  -1   3  51     OR
E  30  49 -48 -99     CO

In [82]:
df = df.set_index('States')

In [83]:
# There are a couple of ways to obtain summary data on DataFrames.
# df.describe() provides summary statistics on all numerical columns.
# df.info and df.dtypes displays the data type of all columns.

df.describe()

              W          X          Y          Z
count   5.00000   5.000000   5.000000   5.000000
mean   11.20000  23.800000   1.800000 -45.400000
std    11.96662  42.109381  51.915316  63.366395
min     2.00000 -29.000000 -48.000000 -99.000000
25%     2.00000  -1.000000 -26.000000 -86.000000
50%     6.00000  21.000000  -8.000000 -80.000000
75%    16.00000  49.000000   3.000000 -13.000000
max    30.00000  79.000000  88.000000  51.000000

In [84]:
df.dtypes

W    int64
X    int64
Y    int64
Z    int64
dtype: object

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, CA to CO
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      int64
 1   X       5 non-null      int64
 2   Y       5 non-null      int64
 3   Z       5 non-null      int64
dtypes: int64(4)
memory usage: 200.0+ bytes

# Pandas Missing Data

In [86]:
# if missing a lot of data, large% for a column remove it
# if missing only small percentage then remove a few points/rows

In [87]:
 # if you want to fill missing data because imp then
 # use mean.mode,median
 # based on other feature column concieve a reasonable value

In [88]:
import numpy as np
import pandas as pd

In [90]:
df = pd.DataFrame({'A':[1,2,np.nan,4],
                  'B':[5,np.nan,np.nan,8],
                  'C':[10,20,30,40]})
df

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

In [91]:
# Removing missing data

In [94]:
df.dropna() #returns rows where nothing is missing

     A    B   C
0  1.0  5.0  10
3  4.0  8.0  40

In [95]:
df.dropna(axis=1) #returns columns where nothing is missing

    C
0  10
1  20
2  30
3  40

In [97]:
# Threshold (Require that many non-NA values in row/column, get by axis number.)

In [98]:
df.dropna(thresh=2)

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
3  4.0  8.0  40

In [99]:
# Filling in missing data

In [100]:
df.fillna(value='FILL VALUE')

            A           B   C
0         1.0         5.0  10
1         2.0  FILL VALUE  20
2  FILL VALUE  FILL VALUE  30
3         4.0         8.0  40

In [101]:
df

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

In [102]:
df['A'].fillna(value=0)

0    1.0
1    2.0
2    0.0
3    4.0
Name: A, dtype: float64

In [103]:
df['A'].fillna(df['A'].mean())

0    1.000000
1    2.000000
2    2.333333
3    4.000000
Name: A, dtype: float64

In [104]:
df.fillna(df.mean())

          A    B   C
0  1.000000  5.0  10
1  2.000000  6.5  20
2  2.333333  6.5  30
3  4.000000  8.0  40

# Pandas GroupBy

In [1]:
# split apply combine

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Universities.csv')

In [4]:
df.head()

,Sector,University,Year,Completions,Geography
0,"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2016,591,Nevada
1,"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2016,28,Nevada
2,"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2016,408,Nevada
3,"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2016,240,Nevada
4,"Public, 4-year or above",Western Nevada College,2016,960,Nevada

In [5]:
df.groupby('Year')

In [7]:
df.groupby('Year').sum()

      Completions
Year
2012        20333
2013        21046
2014        24730
2015        26279
2016        26224

In [8]:
df.groupby('Year').sum().sort_index(ascending=False)

      Completions
Year
2016        26224
2015        26279
2014        24730
2013        21046
2012        20333

In [9]:
df.head()

,Sector,University,Year,Completions,Geography
0,"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2016,591,Nevada
1,"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2016,28,Nevada
2,"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2016,408,Nevada
3,"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2016,240,Nevada
4,"Public, 4-year or above",Western Nevada College,2016,960,Nevada

In [11]:
df.groupby(['Year','Sector']).sum()

                                              Completions
Year Sector
2012 Private for-profit, 2-year                      3072
     Private for-profit, 4-year or above              632
     Private for-profit, less-than 2-year            1327
     Private not-for-profit, 2-year                   665
     Private not-for-profit, 4-year or above         1059
     Public, 2-year                                  1170
     Public, 4-year or above                        12408
2013 Private for-profit, 2-year                      3053
     Private for-profit, 4-year or above              775
     Private for-profit, less-than 2-year            1281
     Private not-for-profit, 2-year                   471
     Private not-for-profit, 4-year or above         1016
     Public, 2-year                                  1633
     Public, 4-year or above                        12817
2014 Private for-profit, 2-year                      2957
     Private for-profit, 4-year or above             1506
     Private for-profit, less-than 2-year            1328
     Private not-for-profit, 2-year                   449
     Private not-for-profit, 4-year or above         1042
     Public, 2-year                                  2286
     Public, 4-year or above                        15162
2015 Private for-profit, 2-year                      3280
     Private for-profit, 4-year or above             1306
     Private for-profit, less-than 2-year            1629
     Private not-for-profit, 2-year                   425
     Private not-for-profit, 4-year or above         1228
     Public, 2-year                                  2355
     Public, 4-year or above                        16056
2016 Private for-profit, 2-year                      3286
     Private for-profit, 4-year or above              748
     Private for-profit, less-than 2-year            1552
     Private not-for-profit, 2-year                   322
     Private not-for-profit, 4-year or above         1208
     Public, 2-year                                  2431
     Public, 4-year or above                        16677

In [12]:
df.groupby('Year').describe()

     Completions
           count        mean          std   min     25%    50%     75%     max
Year
2012        38.0  535.078947  1036.433239  13.0  114.25  229.5  420.50  5388.0
2013        40.0  526.150000  1040.474782   0.0   98.50  189.0  413.00  5278.0
2014        42.0  588.809524  1150.355857   0.0  104.50  203.5  371.75  5093.0
2015        44.0  597.250000  1183.371791   0.0   87.75  191.0  405.75  5335.0
2016        43.0  609.860465  1235.952796   0.0   90.00  208.0  414.00  5367.0

In [13]:
df.groupby('Year').describe().transpose()

Year                      2012         2013         2014         2015  \
Completions count    38.000000    40.000000    42.000000    44.000000
            mean    535.078947   526.150000   588.809524   597.250000
            std    1036.433239  1040.474782  1150.355857  1183.371791
            min      13.000000     0.000000     0.000000     0.000000
            25%     114.250000    98.500000   104.500000    87.750000
            50%     229.500000   189.000000   203.500000   191.000000
            75%     420.500000   413.000000   371.750000   405.750000
            max    5388.000000  5278.000000  5093.000000  5335.000000

Year                      2016
Completions count    43.000000
            mean    609.860465
            std    1235.952796
            min       0.000000
            25%      90.000000
            50%     208.000000
            75%     414.000000
            max    5367.000000

# Pandas Operations

In [16]:
import pandas as pd
df_one = pd.DataFrame({'k1':['A','A','B','B','C','C'],
                      'col1':[100,200,300,300,400,500],
                      'col2':['NY','CA','WA','WA','AK','NV']})
df_one

  k1  col1 col2
0  A   100   NY
1  A   200   CA
2  B   300   WA
3  B   300   WA
4  C   400   AK
5  C   500   NV

In [18]:
df_one['k1'].unique()

array(['A', 'B', 'C'], dtype=object)

In [20]:
df_one['k1'].nunique()

3

In [22]:
df_one['col2'].value_counts()

WA    2
NY    1
CA    1
AK    1
NV    1
Name: col2, dtype: int64

In [25]:
df_one.drop_duplicates()

  k1  col1 col2
0  A   100   NY
1  A   200   CA
2  B   300   WA
4  C   400   AK
5  C   500   NV

In [27]:
df_one['New']=df_one['col1']*10
df_one

  k1  col1 col2   New
0  A   100   NY  1000
1  A   200   CA  2000
2  B   300   WA  3000
3  B   300   WA  3000
4  C   400   AK  4000
5  C   500   NV  5000

In [28]:
def grab_first_letter(state):
  return state[0]

In [30]:
df_one['First Letter'] = df_one['col2'].apply(grab_first_letter)

In [31]:
df_one

  k1  col1 col2   New First Letter
0  A   100   NY  1000            N
1  A   200   CA  2000            C
2  B   300   WA  3000            W
3  B   300   WA  3000            W
4  C   400   AK  4000            A
5  C   500   NV  5000            N

In [34]:
def complex_letter(state):
  if state[0]=='W':
    return 'Washington'
  # complete func
  else:
    return 'Error'

In [35]:
df_one['col2'].apply(complex_letter)

0         Error
1         Error
2    Washington
3    Washington
4         Error
5         Error
Name: col2, dtype: object

In [36]:
df_one['k1']

0    A
1    A
2    B
3    B
4    C
5    C
Name: k1, dtype: object

In [37]:
my_map={'A':1,'B':2,'C':3}

In [38]:
df_one['k1'].map(my_map)

0    1
1    1
2    2
3    2
4    3
5    3
Name: k1, dtype: int64

In [39]:
df_one['col1'].max()

500

In [40]:
df_one['col1'].min()

100

In [41]:
df_one['col1'].idxmin()

0

In [42]:
df_one['col1'].idxmax()

5

In [43]:
features = pd.DataFrame({'A':[100,200,300,400,500],
                        'B':[12,13,14,15,16]})
predictions = pd.DataFrame({'pred':[0,1,1,0,1]})

In [44]:
features

     A   B
0  100  12
1  200  13
2  300  14
3  400  15
4  500  16

In [45]:
predictions

   pred
0     0
1     1
2     1
3     0
4     1

In [46]:
# Pay careful attention to the axis parameter!
pd.concat([features,predictions])

       A     B  pred
0  100.0  12.0   NaN
1  200.0  13.0   NaN
2  300.0  14.0   NaN
3  400.0  15.0   NaN
4  500.0  16.0   NaN
0    NaN   NaN   0.0
1    NaN   NaN   1.0
2    NaN   NaN   1.0
3    NaN   NaN   0.0
4    NaN   NaN   1.0

In [47]:
pd.concat([features,predictions],axis=1)

     A   B  pred
0  100  12     0
1  200  13     1
2  300  14     1
3  400  15     0
4  500  16     1

In [49]:
pd.get_dummies(df_one['k1'])

   A  B  C
0  1  0  0
1  1  0  0
2  0  1  0
3  0  1  0
4  0  0  1
5  0  0  1

# Data Input and Output in Pandas

In [50]:
import numpy as np
import pandas as pd

In [51]:
df = pd.read_csv('example.csv')

In [52]:
pwd

'/content'

In [55]:
ls

example.csv  sample_data/  Universities.csv

In [57]:
df.to_csv('output.csv',index=False)  # if index isn't wanted, to save it do index=True

In [59]:
pd.read_csv('output.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
tables = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')
tables[0].head()